/*!
 * Password Element v0.10
 */
.custom_password {
	width: 100%;
	position: relative;
}
.custom_password .field-icon{
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -7px;
    cursor: pointer;
}

